.searchpageheader {
  position: relative;
  grid-column: 1 / -1;
  display: flex;
  font-size: 1.5rem;
  font-weight: 700;
  align-items: center;
}

.header {
  &__name {
    font-weight: 700;
    font-size: 2.3rem;
    padding-bottom: 1rem;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: 20%;
      left: 20%;
      border-radius: 3rem;
      height: .3rem;
      width: 48%;
      background: #16a085;
    }
  }
  
  &__nav__item {
    margin-left: 3rem;
    cursor: pointer;
    text-align: center;
    padding: 1rem 0; 
    
    &:hover { 
      color: #c0392b;
    }
  }
}